version: 2.1
commands:
  destroy-environment:
    description: Destroy cloudformation stack in case of failure
    parameters: 
      workflow_id:
        type: string
    steps:
      - run:
          name: Destroy environments
          when: on_fail
          command: |
            echo "Destroying environment udapeople-${CIRCLE_WORKFLOW_ID:0:7}"
           
  print_pipeline_id:
    description: "Print workflow ID"
    parameters:
      id:
        type: string
    steps:
      - run:
          name: "Print Workflow ID"
          command: echo <<parameters.id>>
      
jobs:
  print-workflow-id:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - print_pipeline_id:
          id: <<pipeline.id>>
          
  python-linting:
    docker:
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: run python lint
          command: |
            . venv/bin/activate
            pylint --disable=R,C,W1203,W1202 app.py
            
  docker-linting:
    docker:
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            #install hadolint
            wget -O /bin/hadolint https://github.com/hadolint/hadolint/releases/download/v1.16.3/hadolint-Linux-x86_64
            chmod +x /bin/hadolint
      - run:
          name: run docker lint
          command: |
            . venv/bin/activate
            hadolint Dockerfile

  test-app:
    docker:
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: run pytest app.py
          command: |
            . venv/bin/activate
            pytest test_api.py

  security-app:
    docker:
      - image: python:3.7.3-stretch
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: run security test bandit app.py
          command: |
            . venv/bin/activate
            bandit app.py --skip B104,B201

  build-image:
    docker:
      - image: circleci/golang:1.15
        auth:
          username: $DOCKER_USR
          password: $DOCKER_PWD 
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true

      # Build and push Docker image to Docker repository
      - run: 
          name: run build image
          command: |
              docker build --tag=jiewwantan/cloud_devops:latest .
              echo $ENVIRONMENT | docker login -u=$DOCKER_USR -p="$DOCKER_PWD"
              docker push jiewwantan/cloud_devops:latest

    
  deploy-infrastructure:
    docker:
      - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Install tar
          command: yum install -y tar gzip   
      - run:
          name: Ensure back-end infrastructure exists
          command: |
            aws cloudformation deploy \
              --template-file .circleci/files/backend.yml \
              --tags project=Udacity-DevOps-Capstone \
              --stack-name "back-end-${CIRCLE_WORKFLOW_ID:0:7}" \
              --parameter-overrides ID="${CIRCLE_WORKFLOW_ID:0:7}"  
      
      - run:
          name: Add EC2 ip to ansible inventory
          command: |
            yum -y install tar gzip
            echo "[web]" > ~/project/.circleci/ansible/inventory.txt
            aws ec2 describe-instances \
            --query 'Reservations[*].Instances[*].PublicIpAddress' \
            --filters "Name=tag:Name,Values=Capstone-${CIRCLE_WORKFLOW_ID:0:7}" \
            --output text >> ~/project/.circleci/ansible/inventory.txt
            echo ${CIRCLE_WORKFLOW_ID:0:7}
      - persist_to_workspace:
          root: ~/
          paths:
            - project/.circleci/ansible/inventory.txt
            
  configure-infrastructure:
    docker:
      - image: python:3.7-alpine3.11

    steps:
      - checkout
      - add_ssh_keys:
           fingerprints: ["0a:e9:05:66:80:4b:67:9c:a5:60:7e:59:71:49:6b:c7"]
      - attach_workspace:    
         at: ~/project   
      - run:
          name: Install dependencies
          command: |
            apk add --update tar gzip ansible nodejs npm curl
            pip install awscli 
      - run:
          name: Set up inventory file
          command: |
            aws ec2 describe-instances \
              --query 'Reservations[*].Instances[*].PublicIpAddress' \
              --output text >> .circleci/ansible/inventory.txt
            echo `cat .circleci/ansible/inventory.txt`
  
      - run:
          name: Configure server with ansible
          command: |
            echo "Start Ansible"
            cd .circleci/ansible
            ansible-playbook -i inventory.txt configure-server.yml
            cat inventory.txt
      
  smoke-test:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apk add --update tar gzip ansible nodejs npm curl zip
            pip install awscli
      - run:
          name: Backend smoke test
          command: |
            BACKEND_IP=$(aws ec2 describe-instances \
              --query "Reservations[*].Instances[*].PublicIpAddress" \
              --filters "Name=tag:Name,Values=backend-${CIRCLE_WORKFLOW_ID:0:7}" \
              --output=text)
            export API_URL="http://${BACKEND_IP}:8000"
            echo "${API_URL}"
            sleep 30
            if curl "${API_URL}" | grep "World"
            then
                return 0
            else
                return 1
            fi
      # Rollback upon failure
      - destroy-environment:
          workflow_id: ${CIRCLE_WORKFLOW_ID:0:7}        
            
          
  cleanup:
      docker:
        - image: amazon/aws-cli
      steps:
        - checkout
        - run:
            name: Install dependencies
            command: |
              yum -y install tar gzip 
        - attach_workspace:
              at: ~/project
        - run:
            name: Get old stack workflow id
            command: |
              export STACKS=($(aws cloudformation list-stacks --query "StackSummaries[*].StackName" --stack-status-filter CREATE_COMPLETE --no-paginate --output text))
              for stack in ${STACKS[@]}; do
                  if [[ $stack == *"${CIRCLE_WORKFLOW_ID:0:7}"* ]]
                    then
                      echo "New Stack Don't delete"
                      echo "$stack"
                    else
                      if [[ "$stack" == *"-Udacity-"* ]]; then
                        #echo "Old Stack to be deleted"
                        echo "$stack"
                        export OldWorkflowID=${stack##*-}
                        echo $OldWorkflowID
                      fi
                  fi
              done


workflows:
  default:
    jobs:
      - print-workflow-id:
            filters:
              branches:
                only: [dev]
      - python-linting:
            requires: [print-workflow-id]
            filters:
              branches:
                only: [dev]
      - docker-linting:
            requires: [print-workflow-id]
            filters:
              branches:
                only: [dev]
      - test-app:
            requires: [python-linting, docker-linting]
            filters:
              branches:
                only: [dev]
      - security-app:
            requires: [test-app]
            filters:
              branches:
                only: [dev] 
      - build-image:
            requires: [security-app]
            filters:
              branches:
                only: [dev]
      - deploy-infrastructure:
            requires: [build-image]
            filters:
              branches:
                only: [dev]                
      - configure-infrastructure:
            requires: [deploy-infrastructure]
            filters:
              branches:
                only: [dev]
      - smoke-test:
            requires: [configure-infrastructure]
            filters:
              branches:
                only: [dev]   
      - cleanup:
            requires: [smoke-test]
            filters:
              branches:
                only: [dev]   